<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Tab Algorithm Simulation : Round <%= @round %></title>        
    <link rel="stylesheet" href="styles.css" type="text/css" charset="utf-8">
</head>
<body>
    <h1>Round <%= @round %></h1>
        <div id="round<%= @round %>">

            <table>
                <caption>Draw</caption>
                <thead>
                <tr>
                    <th>OG</th>
                    <th>OO</th>
                    <th>CG</th>
                    <th>CO</th>
                </tr>
                </thead>
                <% @debates.each_with_index do |debate, idx| %>
                <tr>
                    <td><%= debate[0] %></td>                    
                    <td><%= debate[1] %></td>
                    <td><%= debate[2] %></td>                    
                    <td><%= debate[3] %></td>
                </tr>
                <% end %>
            </table>



            <table>
                <caption>Points Tally</caption>
                <thead>
                    <tr>
                    <th>Team</th>
                    <th>Points</th>
                </tr>
                </thead>
                <% @teams.each_with_index do |team, idx| %>
                <tr>
                    <td><%= team.team_code %></td>
                    <td><%= team.points %></td>                    
                </tr>
                <% end %>
            </table>

            
            <table>
                <caption>Position Allocation Count</caption>
                <thead>
                <tr>
                    <th>Team</th>
                    <th>OG</th>
                    <th>OO</th>
                    <th>CG</th>
                    <th>CO</th>
                    <th>Badness Score</td>
                </tr>
                </thead>
                <% @teams.sort_by{|t| DebateBadness.lookup(t.og, t.oo, t.cg, t.co) }.each_with_index do |team, idx| %>
                <tr>
                    <td><%= team.team_code %></td>
                    <td><%= team.og %></td>                    
                    <td><%= team.oo %></td>
                    <td><%= team.cg %></td>                    
                    <td><%= team.co %></td>
                    <td><%= DebateBadness.lookup(team.og, team.oo, team.cg, team.co) %></td>
                </tr>
                <% end %>
            </table>
        </div>
</body>
</html>

 